/* HEADER NAVIGATION */

/* Uniqlo Logo Styles */
.main-header .logo-link svg {
  width: 90px;
  height: 40px;
}

/* header Icons Style */
.main-header .icon-link svg {
  width: 24px;
  height: 24px;
}

.main-header .icon-link {
  text-decoration: none;
}

/* BOTTOM NAVIGATION */

.bottom-nav-container .homepage-icon,
.bottom-nav-container .search-icon {
  width: 30px;
  height: 30px;
}

.bottom-nav-container .personal-icon {
  width: 32px;
  height: 32px;
}
