body {
  background-color: bisque;
}

/* HEADER NAVIGATION */

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1164px;
  padding: 12px 30px;
  margin: 0 auto;
}

.main-header .homepage-link {
  flex: 1;
}

.main-header .logo-link svg {
  width: 90px;
  height: 40px;
  display: block;
}

.main-header h1 {
  padding: 0;
  margin: 0;
}

.main-header .main-nav {
  flex: 2;
  max-width: 430px;
}

.main-header .main-nav-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.main-header li {
  color: white;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 500;
}

.main-header .header-icons {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  gap: 27px;
}

.main-header .icon-link svg {
  width: 24px;
  height: 24px;
  fill: white;
}

.main-header .icon-link {
  text-decoration: none;
}

/* PRODUCT BANNER */

.product-banner {
  display: flex;
  flex-direction: column;
}

.product-banner .banner-image {
  flex: 1;
}

.product-banner .banner-image img {
  width: 100%;
}

/* PRODUCT BANNER CONTENT */

.product-detail-link {
  text-decoration: none;
  display: block;
}

.banner-content {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 1650px;
  box-sizing: border-box;
}

.banner-content .title {
  font-size: 26px;
  font-weight: 300;
  padding: 0;
  margin: 0 0 16px;
}

.banner-content .description {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 16px;
}

.banner-content .price {
  font-size: 36px;
  font-weight: 400;
}

.price .price-limited {
  color: red;
}

.price .price-origin {
  font-size: 16px;
  padding-left: 10px;
  text-decoration: line-through;
}

.price-flag .limited-status {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.price-flag .limited-status li {
  color: red;
  font-size: 14px;
}

/* BOTTOM NAVIGATION */

.bottom-nav-container .homepage-icon,
.bottom-nav-container .search-icon {
  width: 30px;
  height: 30px;
}

.bottom-nav-container .personal-icon {
  width: 32px;
  height: 32px;
}
